@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
    
    font-family: 'Roboto';
    text-align: justify;
    text-align: center;

    // style du header 
    header {
        background-image: url(./bg_maquette_figma.jpg);
        background-size: cover;
        color: #FFFFFF;
    }

    // style des bouton 
    button {
        border: unset;
        background-color: #0D6EFD;
    }
    
    // style des icons puzzle 
    i {
        color: #0D6EFD;
    }


    // style des input 
    input , textarea {
        background-color: #D9D9D9;
        border: unset;
        border-radius: 15px;

        &::placeholder {
        color: #F8F9FA;

        }
    }
}
