.main__article {
    display: flex;
    flex-direction: row;

    .fa-solid {
        color: $color1;
        font-size: 50px;

    }

}

.main__section__form-bloc1 {
    // position: relative;
    width: 100%;

    .main__section__form-bloc1 {
        // position: absolute;

    }
}
