.main__article {
    display: flex;
    flex-direction: row;

    .fa-solid {
        color: $color1;
        font-size: 50px;

    }

}

.main__section__form_input {
    position: relative;
    flex-wrap: wrap;
    align-content: space-between;

    

    .main__section__form_input {
        // position: absolute;

    }
}
